


/* .nav item{
    font-style: italic;

} */


/* .cards{
    margin: 0.5px 0.5px 0.5px 0.5px;
  }
    
  .centered {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 15px;
    font-family: sans-serif;
  } */
